# Google Cloud API (optional)
GOOGLE_APPLICATION_CREDENTIALS=path/to/credentials.json

# OpenAI API (optional)
OPENAI_API_KEY=your_openai_api_key

# Hugging Face Token (optional)
HF_TOKEN=your_hf_token

# Project specific
PROJECT_ROOT=/Users/mahriovezmyradova/MedicalASR-Summarization